.defaultImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  flex: 0 0 50%;
}

.lgImage {
  object-fit: cover;
  width: 100%;
  height: auto;
  flex: 0 0 70%;
}

.smImage {
  object-fit: cover;
  width: 50%;
  height: 50%;
  flex: 0 0 25%;
}