.cardWrapper {
  width: 100%;
  height: auto;
  padding: 1em;
  border-radius: 1em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: rgba(64, 224, 208, .8);
  color: grey;
  flex: 0 0 75%;
}

.photoWrapper {
  width: 6em;
  height: 6em;
  border-radius: 100%;
  object-fit: cover;
  margin:.2em;
}

.userInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 10em;
  margin-bottom: 2em;
}

.flexCenter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.flexCenterColumn {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between
}

.starWrapper {
  color: gold;
  margin: .2em;
}

.pDefault {
  margin: .2em
}

.snippetText {
  font-size: 1.2em;
  margin-left: 1em;
  margin-top: 0;
  font-style: italic;
  color: white
}

.buttonWrapper {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: blue;
  font-size: 1.1em  ;
}

@media screen and (min-width: 500px) {
  .cardWrapper {
    flex: 0 0 30%;
    flex-direction: row;
  }
}